// utility sass variables

// import fonts
@import url('https://fonts.googleapis.com/css?family=Abel|Cute+Font');

/*            colors               */
$noise-salmon: #ED484A;
$noise-yellow: #FBE633;
$quiet-yellow: #FFFF8F;
$wheel-blue:   #144880;
$wheel-green:  #098642;
$wheel-white:  #F1F1F3;
$wheel-black:  #231F20;

/*       font types                 */
$cute:  'Cute Font', cursive;
$abel:  'Abel', sans-serif;

/*       font sizes                 */
@include font-size-small;
@include font-size-regular;
@include font-size-large;
@include font-size-x-large;
@include font-size-xx-large;
@include font-size-xxx-large;
@include font-size-xxxx-large;

/*                    font weights  */
$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    600;

/*              resolutions         */
$mobile-small:	240;
$mobile-large:	320;
$tablet-small:	480;
$tablet-large:	768;
$screen-small:  1024;
$screen-large:  1280;
