extends layout

block content
  h1 Register for Friends of Noise
  form(method='POST', action='register')
    #reg-form-labels
      label First Name:
      input.form-inputs(name='firstname', type='text')
    #reg-form-labels
      label Last Name:
      input.form-inputs(name='lastname', type='text')
    #reg-form-labels
      label Email:
      input.form-inputs(name='email', type='text')
    #reg-form-labels
      label Password:
      input.form-inputs(name='password', type='password')
    #reg-form-labels
      label Confirm Password:
      input.form-inputs(name='password2', type='password')
    br
    input.btn.btn-primary(type='submit', value='Be Our Friend!')
