
@import "bulmaswatch/united/bulmaswatch.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $family-sans-serif;
  background-color: $primary;
}

.navbar {
  background-color: inherit;
}

h1, h2, h3 {
  color: $green;
}

p {
  color: $yellow;
}
