@import "../node_modules/bulmaswatch/united/bulmaswatch";
@import "../node_modules/bulmaswatch/united/variables";
@import "../node_modules/bulma/css/bulma";
@import "../node_modules/bulmaswatch/united/overrides";

body {
  margin: 0;
  padding: 0;
  font-family: $family-sans-serif;
  background-color: $primary;
}

.navbar {
  background-color: inherit;
}

h1, h2, h3 {
  color: $green;
}

p {
  color: $yellow;
}
